<!-- ../partials/navbar.ejs -->

<!-- This is the navbar that should appear at the top of every page -->

<nav class="navbar navbar-expand-lg navbar-light bg-light">

  <!-- This is the clickable Text that shows up at the top left -->
  <a class="navbar-brand" href="#"> <img src="/assets/logo.jpg" class="img-responsive" width="61" height="50"></a>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="/">Home<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/pages/chlamydia.ejs">Chlamydia</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/pages/genital.ejs">Genital</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/pages/gonorrhea.ejs">Gonorrhea</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/pages/hepatitis.ejs">Hepatitis</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/pages/herpes.ejs">Herpes</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/pages/hiv_&_aids.ejs">HIV & Aids</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/pages/HPV_(Human Papillomavirus.ejs">HPV (Human Papillomavirus</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/pages/molluscum_contagiosum.ejs">Molluscum Contagiosum</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/pages/pubic_lice.ejs">Pubic Lice</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/pages/scabies.ejs">Scabies</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/pages/syphillis.ejs">Syphillis</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/pages/trichomoniasis_(trich).ejs">Trichomoniasis (Trich)</a>
      </li>
    </ul>
  </div>
</nav>