<!DOCTYPE html>
<html lang="en">

<head>
  <title>Home</title>
  <% include ../partials/head %>
</head>

<body>
  <div class="container">

    <!-- NAVBAR START -->
    <% include ../partials/navbar %>
    <!-- NAVBAR START -->

    <!-- MAIN CONTENT GOES HERE -->
    <h1>HOME PAGE CONTENT</h1>
    <!-- START OF MAIN CONTENT -->

    <!-- MAIN CONTENT HERE -->

    <!-- END OF MAIN CONTENT -->

  </div>
</body>

</html>