<!DOCTYPE html>
<html lang="en">

<head>
  <title>Home</title>
  <% include ../partials/head %>
</head>

<body>
  <div class="container">



    <!-- NAVBAR START -->

    <% include ../partials/navbar %>
    <!-- NAVBAR START -->


    <!-- MAIN CONTENT GOES HERE -->
    <h1>HOME PAGE CONTENT</h1>
    <button type="button" class="primary">
      <a href="#">Chlamydia</a>
    </button>

    <button type="button" class="primary">
      <a href="#"></a>
    </button>

    <button type="button" class="primary">
      <a href="#"></a>
    </button>

    <button type="button" class="primary">
      <a href="#"></a>
    </button>

    <button type="button" class="primary">
      <a href="#"></a>
    </button>

    <button type="button" class="primary">
      <a href="#"></a>
    </button>

    <button type="button" class="primary">
      <a href="#"></a>
    </button>

    <button type="button" class="primary">
      <a href="#"></a>
    </button>

    <button type="button" class="primary">
      <a href="#"></a>
    </button>

    <button type="button" class="primary">
      <a href="#"></a>
    </button>

    <button type="button" class="primary">
      <a href="#"></a>
    </button>

    <button type="button" class="primary">
      <a href="#"></a>
    </button>

  </div>
</body>

</html>